<h1>Marvel's and DC's Heroes</h1>
<hr>
<div class="card-columns">
    <app-card-hero (selectedHero) = "moreHero( $event )" [heroe] = "hero" [index] = "i" *ngFor="let hero of heroes; let i = index;"></app-card-hero>
    <!--
    <div class="card" *ngFor="let heroe of heroes; let i = index;">
        <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
          <h5 class="card-title">{{ heroe.nombre }}</h5>
          <p class="card-text">{{ heroe.bio }}</p>
          <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
          <button (click) = "moreHero(i);" class="btn btn-outline-primary btn-block">More...</button>
        </div>
      </div>
    -->
    <!--<a [routerLink] = "['/heroe', i]" class="btn btn-primary">More link</a>-->
</div>